.title {
  margin-top: 20px;
  font-size: 3.5rem;
  font-family: Inter, sans-serif;
  letter-spacing: -0.05em;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
  line-height: 1.2;
  width: 100%;
  color: #2f3747;
}

.news_span {
  color: #00a4a6;
}

.wrapper {
  width: 76%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.para {
  color: #1a1c26;
  opacity: 0.6;
  font-size: 1.025rem;
  font-weight: 600;
  letter-spacing: -0.5px;
}

.hide_button {
  visibility: hidden;
}
@media (max-width: 600px) {
  .title {
    font-size: 3.2rem;
  }
  .hide_button {
    display: none;
  }
  .wrapper {
    flex-direction: column;
  }
}

@media (max-width: 1000px) {
  .wrapper {
    flex-direction: column;
  }
}
