.main {
  display: flex;
  width: 99%;
  font-weight: 600;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
}

.sided {
  color: "7d8590";
}

.news {
  color: "white";
}

.other {
  cursor: pointer;
  margin-top: 8px;
}

.other:hover {
  opacity: 0.8;
}
