.main {
  display: flex;
  align-items: center;
  height: 6em;
  width: 99%;
  font-weight: 600;
  color: var(--secondary-white);
}

@media (max-width: 54em) {
  .main {
    width: 25em;
  }
}

@media (max-width: 26em) {
  .main {
    width: 90%;
  }
}
