.news {
  width: 400px;
  position: relative;
  display: flex;
  height: 200px;
  border-radius: 20px;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.15) 0px 3px 6px;
  justify-content: space-between;
  cursor: pointer;
  overflow: hidden;
}
.news_corner {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 40px 0 0;
  opacity: 0.4;
  right: 0;
  bottom: 0;
  position: absolute;
}

.left_col {
  width: 40%;
  height: 200px;
}
.right_col {
  width: 60%;
  height: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news_title {
  color: #1a1c26;
  opacity: 0.6;
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: -0.5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.date {
  color: #1a1c26;
  opacity: 0.6;
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: -0.5px;
  margin-top: 10px;
}
.buttons {
  display: flex;
  flex-direction: row;
}
.buttons > div {
  margin-right: 10px;
}

.left_col > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  opacity: 0.8;
}

.left_col > img:before {
  background: #f1f1f1;
  content: "\1F517"" broken image :(" attr(alt);
  left: 0;
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: absolute;
}

.modal_window {
  width: 400px;
  height: 300px;
  position: absolute;

  transform: translate(-50%, -50%);
  padding: 2em;
  background: black;
  background-color: white;
}

@media (max-width: 600px) {
  .news {
    margin-left: 0px;
    margin-right: 0px;
    width: 98%;
  }
}

.news_container {
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: flex;
  width: 100%;

  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.heading {
  color: #252424;
  opacity: 0.75;
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: -0.5px;
  line-height: 20px;
  display: flex;
  justify-content: center;
}

.modal_content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.modal_image {
  border-radius: 20px;
  margin-top: 10px;
  opacity: 0.8;
  width: 100%;
  max-height: 28vh;
  position: relative;
}

.modal_content > div > img:before {
  background: #f1f1f1;
  content: "\1F517"" broken image :( just like their promises" attr(alt);
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  position: absolute;
}

.news_body {
  color: black;
  opacity: 0.6;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: -0.5px;
  margin-top: 20px;
  margin-bottom: 10px;
  max-height: 30vh;
  overflow: scroll;
}
.news_body_loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}
